.pokemon-cards-wapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
}

.card-section{
    padding: 0px 0 10px 0;
}

.card-section div{
    display: flex;
        justify-content: center;
}


.card-section label{
        font-weight: 600;
        font-size: small;
}

.card-section spna{
        font-size: small;
}

.card-title{
    font-weight: 500;
    font-size: 26px;
    margin-top: 10px;
}


.modal-wapper{
    min-width: 450px;
}

.header{
    background-color: black;
    text-align: center;
    padding: 2px;
    color: white;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 20px;
}

.pokemon-stats{
    display: flex;
    padding: 10px 5px;
}

.pokemon-stats > div:nth-child(1){
    flex-grow: 1;
    display: flex;
    justify-content:center ;
}

.pokemon-stats > div:nth-child(2){
    flex-grow: 4;
}

.content-header{
   /* text-align: center; */
   font-weight: 500;
   text-decoration: underline;
   font-size: larger;
}

.stat-content{
    display: flex;
}

.stat-lable{
    font-weight: 500;
}

.nav-btn {
 display: flex;
 justify-content: end;
 margin-top: 10px;
 
}

.nav-btn > div:nth-child(2){
    display: flex;
    justify-content: end;
}

.nav-btn button:nth-child(1){
    margin-right: 10px;
}

.nav-btn button:nth-child(2){
    margin-right: 10px;
}